PORT=3000
MONGO_URI=mongodb+srv://amine2004:amine_2004_2005@cluster0.sbwvhkf.mongodb.net/GuideDataBase?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=GuidesAreAwesome
JWT_REFRESH_SECRET=RefreshGuidesAreAwesome
# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dqbu98gev
CLOUDINARY_API_KEY=357777527122992
CLOUDINARY_API_SECRET=GXXqPujwemTL11zDQaD4SyxUc-8

